<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>first_wait_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_wait_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_wait_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_wait_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,64},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,128},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,192},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_wait_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,256},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_wait_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,256},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_wait_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,316},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_wait_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,316},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,376},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,376},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,436},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>others_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,436},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_wait_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,496},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_wait_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,496},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_wait_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,560},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_wait_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,560},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,624},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,624},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,688},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,688},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_wait_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,752},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_wait_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,752},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_wait_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,812},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_wait_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,812},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,872},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,872},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,932},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,932},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_wait_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,992},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_wait_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,992},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_wait_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,1056},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_wait_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,1056},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,1120},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,1120},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{0,1184},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{56,1184},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{120,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7657d3d43d19fb18fa016cc75806e99e:4fdb2de20e6fab85b6099f1d823babc1:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
